<section>
  <app-header></app-header>
  <br>
  <br>
  <!-- body div container 1 -->
  <div class="container" style="object-fit: cover;">
    <h2 class="text-centre">Retail Banking System : Banking For All</h2>
  </div>

  <br>

  <div class="container text-white" style="object-fit: cover;">
    <div class="jumbotron bg-cover"
      style="background-image: url('../../assets/images/dashboard.png');background-repeat: no-repeat;background-size: 1120px 626px;width:1120px; height: 626px;">

    </div>
  </div>
</section>
