<div class="sticky-top bg-dark d-flex align-content-center headertitle">
  <a href="" class="active nav-link text-white">
    <h1><i>Retail Banking System</i></h1>
  </a>
  <ul class="align-content-center container nav nav-pills justify-content-end" style="width: 1000px "  >
    <li class="nav-item"><a class="btn btn-danger" routerLink="/loginEmployee">Employee Login
      </a>
    </li>
    <li class="nav-item"><a class="btn btn-info" routerLink="/loginCustomer">Customer Login
      </a>
    </li>
  </ul>
</div>
